.unir-text {
    font-family: Arial, Helvetica, sans-serif; /* Fuente */
}

.unir-header {
    font-style: italic; /* Cursiva */
}

table {
    width: 100%;
}

td[estilo="impresionista"]:hover { /* Seleccionamos los td que tengan el atributo estilo con valor impresionista, cuando el raton pase por encima */
    background-color: grey;
}

td[estilo="cubista"]:hover {
    background-color: seagreen;
}

td[estilo="abstracto"]:hover {
    background-color: brown;
}

table, th, td { /* Aplicamos estilos a la tabla, a las celdas de cabecera y a las celdas de datos */
    border: 1px solid black;
    text-align: center;
}

td > img { /* Aplicamos estilos a las imagenes que esten dentro de una celda */
    max-width: 250px;
    max-height: 250px;
}

td[estilo="impresionista"] > img { /* Aplicamos estilos a las imagenes que esten dentro de una celda que tenga el atributo estilo con valor impresionista */
    border: 5px solid darkblue;
}

td[estilo="cubista"] > img {
    border: 5px solid darkmagenta;
}

td[estilo="abstracto"] > img {
    border: 5px solid darkorange;
}