*,
*::before,
*::after {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
     margin-top: 20px;
 }

.mt-5 {
    margin-top: 50px;
}

.mr-2 {
    margin-right: 20px;
}
.ml-5 {
    margin-left: 50px;
}

.pt-1 {
    padding-top: 10px;
}

.pt-2 {
    padding-top: 20px;
}
.pt-3 {
    padding-top: 30px;
}

body {
    width: 65%;
    margin: 0 auto;
}

ol, ul {
    list-style-type: none;
}

.txt-white {
    color: white;
}

.txt-title {
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
}

header {
    display: flex;
    width: 100%;
}

.header__picture {
    object-fit: cover;
    position: absolute;
    margin: 20px;
}

.header__picture img {
    width: 150px;
    height: 150px;
    border-radius: 30%;
}


.header__title {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    text-transform: uppercase;
    max-width: 800px;
}

.title__name {
    background-color: rgb(135, 135, 140);
    height: 100px;
}

.title__position {
    background-color:rgb(135, 135, 140);
    height: 100px;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.section h2 {
    font-size: 24px;
    color: #333;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section li {
    margin-bottom: 10px;
}

.content-left {
    width: 30%;
}

.content-right {
    width: 50%;
}

.box {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bar {
    width: 100%;
    height: 10px;
    border-radius:5px 30px 30px 5px;
    background-color: olivedrab;
}

.bar-p-4 {
    width: 40%;
}

.bar-p-5 {
    width: 50%;
}

.bar-p-6 {
    width: 60%;
}

.bar-p-7 {
    width: 70%;
}

.contact-element {
    display: flex;
    flex-direction: row;
}

.contact-element p {
    padding-left: 10px;
}


.icon {
    width: 52px;
    height: 52px;
}

.icon-small {
    width: 24px;
    height: 24px;
}