.movie-card {
    position: relative;
    border: 1px solid #ccc;
    overflow: hidden;
    transition: transform 0.3s;
    width: 20%;
    margin: 25px;
    box-sizing: border-box;
    height: 100%;
}
  
.movie-card:hover {
    transform: scale(1.1);
}
  
.movie-image {
    width: 100%;
    height: auto;
}

.movie-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}

.movie-card:hover .movie-details {
    opacity: 1;
}

.movie-details-name {
    margin: 0;
    font-size: 1.2em;
}

.movie-details-text {
    margin: 0.5em 0;
    font-size: 0.7em;
}