body {
    font-family: sans-serif;
    background-color: #10142f;
    color:whitesmoke;

}
section{
    margin: 2.5rem;
}
.header {
    text-align: center;
    align-items: center;
    width: 100%;
    height: 20em;
    background: url("assets/img/band.jpeg")no-repeat right top fixed;
    background-gradient: linear-gradient(to bottom, red, blue);

}
.special_text{
    color: #d6ad0b;
}
#profile_image {
    border:solid 1px;
    border-radius: 30px;
}
#profile_name {
    text-align: center;
}
footer {
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-top: 20px;
}