body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: black;
    margin: 10px;
    padding: 20px;
    border: 3px solid #FBB318;
}
.div__section--header{
    background-color: #FBB318;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 80px;
    font-size: 24px;
}
.div__section--screen{
    background-color: #333333;
    height: 120px;
    margin: 10px;
}
.div__section--seats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.text_table_row{
    color: #FBB318;
    font-size: 20px;
}

.table_seat{
    font-size: 40px;
    padding:20px 20px;
    margin:10px;
    border: 2px solid #FBB318;
    background-color: black;
}

.table_seat:hover{
    font-size: 40px;
    padding:20px 20px;
    margin:10px;
    border: 2px solid #FBB318;
    background-color: #f5d99d;
}

.seat--occupied{
    font-size: 40px;
    padding:20px 20px;
    margin:10px;
    border: 2px solid #FBB318;
    background-color: #FBB318;
}
.seat--occupied:hover{
    font-size: 40px;
    padding:20px 20px;
    margin:10px;
    border: 2px solid #FBB318;
    background-color: #FBB318;
}
.div__section--select-seats{
    color: #FBB318;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
#number-seats{
    width: 350px;
    height: 40px;
    margin:10px;
}
#submit-button{
    width: 200px;
    height: 40px;
    margin:10px;
    font-size: 20px;
    background-color: #FBB318;
}
.div__section--footer{
    background-color: #0EC8D1;
    text-align: center;
    color: white;
    height: 180px;
    font-size: 20px;
    margin:5px;
    padding: 5px;
}