body{
    background-color: #000000;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #b0a249;
}

.container{
    border: 2px solid #b0a249;
    text-align: center;
    margin: 5%;
    width: 90%;
}

.container-pantalla{
    border: 2px solid #b0a249;
    margin: 10px 15px 10px 15px;
    padding: 80px;
    background-color: #333333;
}

.seat-inactive{
    padding:25px;
    border: 2px solid #b0a249;
    background-color: #000000;
}

.seat-active{
    padding: 25px;
    border: 2px solid #b0a249;
    background-color: #b0a249;
}

.seat-reserved{
    padding: 25px;
    border: 2px solid #b0a249;
    background-color: #343a40;
}

.table-seats{
    margin: auto;
    width: 50%;
}

.footer-table{
    text-align: center;
}

.submit-button{
    background-color: #b0a249;
}


.container-footer{
    background-color: #343a40;
    border-style: groove;
    margin: 10px 15px 10px 15px;
    text-align: center;
    color: #e5e6e8;
}

.darkSwitch{
    margin: 10px 15px 10px 15px;;
}

.input-field input[type=number],
.input-seats {
    color: #b0a249; /* Color de texto de entrada */
    border-bottom: 1px solid #ffd700; /* Borde amarillo para los inputs */
}

.btn{
    color: #0a101a;
}

td > button{
    width : 80%;
}