.head {
    text-align: center;
}

body {
    margin: 50px 400px 50px 400px;
    font-family: 'Verdana', sans-serif;
    font-size: 14px;
}

#linea {
    border-width: 1px;
    border-style: solid;
}

#nombre {
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
}

h2 {
    font-family: 'Verdana', sans-serif;
    color: #0066cc;
}

div {
    margin-bottom: 30px; /* Espacio en la parte inferior del div */
}

.footer {
    font-style: italic; /* Aplica el estilo de fuente cursiva */
    font-size: 14px; /* Tamaño de fuente para el pie de página */
    color: #555; /* Color del texto del pie de página */
}