*,
*::before,
*::after {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: slategray;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.screen {
    width: 100%;
    height: 150px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 10px 10px;
    margin-top: 20px;
}

.space {
    width: 100%;
    height: 100px;
    background-color: dimgray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.seats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.seats__section {
    display: flex;
    column-gap: 20px;
}

.section__label {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.section__seat {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: solid darkgray;
}

.section__seat:hover {
    background-color: darkslategray;
    opacity: 0.5;
}

.section__seat-selected {
    background-color: darkslategray;
    border: solid white;
    pointer-events: none;
}

.section__seat-reserved {
    background-color: darkgray;
    pointer-events: none;
}

.confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.confirmation button {
    padding: 20px 10px;
    background-color: darkgray;
    border: none;
    border-radius: 4px;
}

#suggested_seats {
    padding: 10px;
}

.confirmation button:hover {
    background-color: darkslategray;
    color: white;
}

footer {
    height: 200px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    background-color: lightslategray;
}

.footer__item {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.icon-small {
    width: 24px;
    height: 24px;
}