* {
    font-family: Arial, Helvetica, sans-serif;
    background: #343434;
    text-align: center;
    color: whitesmoke;
}

button {
    background: whitesmoke;
    color: black;
    font-size: 16px;
}

p {
    color: orange;
}
