body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Fondo oscuro */
    color: #f1f1f1; /* Texto claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 500px;
}

h3 {
    color: whitesmoke; /* Título en blanco */
    text-align: center;
}

form {
    background-color: #444; /* Fondo ligeramente más claro para el formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-field label {
    color: #f1f1f1; /* Etiqueta de texto claro */
}

.input-field input[type=text],
.input-field input[type=password],
.input-field input[type=email] {
    color: #f1f1f1; /* Color de texto de entrada */
    border-bottom: 1px solid darkgray; /* Borde gris para los inputs */
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
    border-bottom: 1px solid darkblue; /* Borde azul en foco */
    box-shadow: 0 1px 0 0 darkblue; /* Sombra azul en foco */
}

.btn {
    background-color: darkblue; /* Botón en azul */
    color: whitesmoke; /* Texto del botón en blanco */
}

.btn:hover {
    background-color: mediumblue; /* Color del botón al pasar el mouse */
}

/* Mensajes de error */
p {
    color: #ff4444; /* Rojo para errores */
    font-size: 0.8rem;
    margin-top: 5px;
}

.error {
    color: #ff4444;
}
