body {
    font-family: Arial, sans-serif;
    background-color: rgb(30, 30, 30);
    color: #f1f1f1; /* Texto claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 500px;
}

h3 {
    color: yellow;
    text-align: center;
}

form {
    background-color: #444; /* Fondo ligeramente m치s claro para el formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-field label {
    color: #f1f1f1; /* Etiqueta de texto claro */
}

.input-field input[type=text],
.input-field input[type=password],
.input-field input[type=email] {
    color: #f1f1f1; /* Color de texto de entrada */
    border-bottom: 1px solid #ffd700; /* Borde amarillo para los inputs */
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus {
    border-bottom: 1px solid #ffd700; /* Borde amarillo en foco */
    box-shadow: 0 1px 0 0 #ffd700; /* Sombra amarilla en foco */
}

.btn {
    background-color: yellow; /* Bot칩n en amarillo */
    color: #333; /* Texto del bot칩n en oscuro */
    border-radius: 5px;
}

.btn:hover {
    background-color: #ccac00; /* Color del bot칩n al pasar el mouse */
}

/* Mensajes de error */
p {
    color: #ff4444; /* Rojo para errores */
    font-size: 0.8rem;
    margin-top: 5px;
}

.error {
    color: red;
}