.pagos__header{
    text-align: center;
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    border-radius: 10px;
}
.pagos__contenedor{
    text-align: center;
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
}
.pagos__acerca{
    text-align: left;
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    font-size: large;
}