.validador__header{
    text-align: center;
    border-style: solid;
    border-color: lightgray;
    border-width: thin;
    border-radius: 10px;
}

.boton--busqueda {
    padding: 3px 15px;
    background-color: rgba(74, 141, 131, 0.99);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton--busqueda:hover  {
    background-color: rgba(56, 107, 99, 0.99);
}

.boton--busqueda:active  {
    background-color: white;
    color:rgba(58, 110, 102, 0.99);
    border-style: solid;
    border-width: thin;
    border-color: rgba(58, 110, 102, 0.99);

}