* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font: bold 20px verdana, sans-serif;
}
h2 {
    font: bold 14px verdana, sans-serif;
}
h3 {
    font: bold 12px verdana, sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
    display: block;
}

body {
    text-align: center;
}

#agrupar {
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

#cabecera {
    background: #FFFBB9;
    border: 1px solid #999999;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
#cabecera .titulo {
    float: left;
    width: 80%;
    display: inline-block;
}
#cabecera .foto {
    display: inline-block;
    float: right;
    width: 20%;
}
.foto > img {
    border-radius: 50%;
    width: 40%;
}

#menu {
    background: #CCCCCC;
    padding: 10px 15px;
}
#menu ul {
    width: 100%;
}
#menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif;
    width: auto;
}
#menu li > a {
    text-decoration: none;
}
#menu li:hover > a {
    background: #000000;
    color: #FFFFFF;
}

#seccion {
    float: right;
    width: 660px;
    margin: 20px;
}

.columna {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: #CCCCCC;
}
.columna > blockquote {
    padding-top: 10px;
}
.columna > ul {
    padding-top: 10px;
    padding-left: 20px;
    font: 12px verdana, sans-serif;
}

article {
    background: #FFFBCC;
    border: 1px solid #999999;
    padding: 20px;
    margin-bottom: 15px;
}
article > p {
    font: bold 12px verdana, sans-serif;
}
article > ul {
    padding-left: 20px;
    font: 12px verdana, sans-serif;
}
article footer {
    text-align: right;
}
time {
    color: #999999;
    font: 12px verdana, sans-serif;
}
figcaption {
    font: italic 14px verdana, sans-serif;
}

#pie {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}
