/* Estilo general en modo oscuro */
body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.card {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    color: #f0e68c;
}

.card-caratula {
    max-width: 100%;
    height: 50%;
    display: block;
    margin: 0 auto;
}

.movieList-text {
    text-align: center;
    color: #f0e68c;
}
.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movies-container > * {
    flex: 1 1 20%; /* Esto har치 que los elementos ocupen aproximadamente el 40% del ancho del contenedor, pero se ajustar치n para evitar el desbordamiento */
    max-width: 40%; /* Esto limitar치 el ancho de los elementos al 40% del contenedor */
    margin: 10px; /* Esto agregar치 un poco de espacio alrededor de los elementos */
}

.header-footer {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

.header-footer-text {
    color: #f0e68c;
}

.center-text {
    text-align: center;
}