/* Estilo general en modo oscuro */
body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.card {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    color: #fff;
}

.card-image {
    height: 180px;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie-container > * {
    flex: 1 1 40%; /* Esto har치 que los elementos ocupen aproximadamente el 40% del ancho del contenedor, pero se ajustar치n para evitar el desbordamiento */
    max-width: 40%; /* Esto limitar치 el ancho de los elementos al 40% del contenedor */
    margin: 10px; /* Esto agregar치 un poco de espacio alrededor de los elementos */
}

.card-title {
    font-weight: bolder;
    margin-bottom: 30px;
}

.card-text {
    text-align: justify;
}

.header-footer {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

.header-footer-text {
    color: #fff;
}

.center-text {
    text-align: center;
}