*,
*::before,
*::after {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    background-color: #2d3142;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding: 100px;
}

.content__button button {
    padding: 30px;
    background-color: #ef8354;
    border-radius: 4px;
    font-size: 20px;
}

.content__joke {
    width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #bfc0c0;
}

.content__joke p {
    width: 440px;
    padding: 20px;
    height: 200px;
    border: 1px solid #4f5d75;
    border-radius: 4px;
}