.cinema-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: grey;
    border: 50px solid grey;
    font-weight: bold;
    margin: 10px 50px auto 90px;
}

.screen-container{
    font-weight: bold;
    text-align: center;
    background-color: lightslategrey;
    border: solid lightslategrey;
    border-width: 100px 50px;
    margin: 20px 50px 30px 90px;
}

.boxes-container{
    margin-left: auto;
    margin-right: auto;
}

.boxes-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.available-box{
    margin-left: 8px;
    border: 4px solid yellow;
    padding: 20px;
}

.unavailable-box{
    margin-left: 8px;
    border: 4px solid darkred;
    background-color: darkred;
    padding: 20px;
}

.selected-box{
    margin-left: 8px;
    border: 4px solid yellow;
    background-color: yellow;
    padding: 20px;
}

.additional-data{
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.additional-data > *{
    margin-top: 15px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 50px 5px 90px;
    background-color: grey;
}

.footer-item{
    margin: 3px;
}

input{
    width: 7%;
    height: 7%;
}

body > *{
    width: 90%;
    border-radius: 10px;
    color: deepskyblue;
}

body.custom-background{
    background-color: black;
}
