body {
    margin: 0;
    background-color: #45B39D;
    font-family: "Trebuchet MS";
}

#joke__section {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#joke_button {
    margin: 5px;
    font-weight: bold;
}

#joke__div {
    border: 3px solid #BFC9CA;
}