body {
    background: coral;
}

.fuente {
  size: 14px;
  color: black;
  width: 500px;

.fuente {
  size: 12px;
  color: black;
  width: 500px;

.container{
  color: black;
  width: 500px;
}

