body {
    font-family: Arial, sans-serif;
}

.contenedor-cv {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contenedor-titulo-cv img {
    width: 170px;
    height: 170px;
    border-radius: 40%;
    object-fit: cover;
}

.contenedor-contacto-cv,
.contenedor-resumen-exp-laboral-cv,
.contenedor-historial-profesional-cv,
.contenedor-educacion-cv {
    margin-top: 20px;
}

h2 {
    color: #007bff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
