
* {
    font-size: small;
    padding: 2px;
}

.container-perfil {
    text-align: center;
    border: 3px solid black;
    background-color: rgb(152, 152, 236);
}

.container-info {
    border: 3px solid black;
}

.text-name {
    font-weight: bold;
    font-size: x-large;
}

.text-title {
    font-weight: bold;
    font-size: medium;
}

.text-subtitle {
    font-weight: bold;
}


