.movie-container{
    flex: 1 1 30%;
    margin: 10px;
    padding: 15px;
    background-color: #ffad92;
    text-align: center;

}

.image{
    max-height: 200px;
    flex: 1 1 30%;
    text-align: center;
}

.movie-container--info{
    color: black;
    text-align: left;
}

h3{
    font-size: calc(1rem + 0.5vw);
}

p:nth-of-type(2n + 1) {
    font-weight: bold;
}