body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #ffd700;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #a2a8a2;
    color: #090000;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a09445;
}

p {
    font-size: 18px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}
