.header{
    width: 100%;
    height: 75px;
    background-color: #0a101a;
    display: flex;
    justify-content: center;
}

.header-title{
    margin-top: auto;
    margin-bottom: auto;
    font-size:x-large;
    font-weight: bold;
    font-family: "Times New Roman", sans-serif;
}

.icon-container{
    padding-left: 3px;
}

