/* Estilo general en modo oscuro */
body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.movie {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    color: #ecd50a;
}

.cartel {
    display: block; /* Esto le indicará al navegador que trate la imagen como si fuera un elemento de bloque, no un elemento en línea, lo que te permitirá usar la propiedad de margen CSS */
    width: 40%; /* Cantidad fija para que no abarque toda la ventana */
    margin: auto; /* Establece los márgenes izquierdo y derecho en «automático» para que sean iguales */
    margin-bottom: 40px;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movies-container > * {
    flex: 1 1 40%; /* Esto hará que los elementos ocupen aproximadamente el 40% del ancho del contenedor, pero se ajustarán para evitar el desbordamiento */
    max-width: 40%; /* Esto limitará el ancho de los elementos al 40% del contenedor */
    margin: 10px; /* Esto agregará un poco de espacio alrededor de los elementos */
}

.header-footer {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

.header-footer-text {
    color: #ead308;
}

.center-text {
    text-align: center;
}