body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: #0b525f;
}

#joke_block #joke_block_button{
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    width: 60%;
}

button{
    border: inherit;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

p {
    color: white;
}

