body {
    width: 1024px;
    font-family: Calibri, sans-serif;
    margin: 70px;
}

.header {
    margin: 70px;
    display: flex;
    position: relative;
    align-items: center;
}

img {
    height: 280px;
    padding-left: 100px;
    vertical-align: middle;
}

.header__content {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

.header__content--highlight {
    color: #418AB3;
}

h1 {
    background-color: #418AB3;
    padding: 15px;
    color: white;
}

table {
    border-collapse: collapse;
}

td {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}

.content__header {
    font-weight: lighter;
    color: #418AB3;
    padding: 30px;
}

.content__info {
    border-bottom: 1px #418AB3 solid;
    line-height: 2;
    color: #595959;
    padding-top: 20px;
    padding-bottom: 20px;
}

.academic__info--title {
    color: black;
    font-weight: bold;
}

.academic__info--highlight {
    font-weight: bold;
}

